* {
  box-sizing: border-box;
}

:host {
  --tabs-border-width: 1px;
  --tabs-padding: 0.5em;
  --tabs-gap: 0.2em;
  --tab-size: 2em;

  --title-bar-height: 3em;
  --title-bar-padding: 1.1em;

  --emojis-padding: 0.8em;
  --emojis-gap: 0.2em;
  --emoji-size: 1.85em;
  --min-emoji-col-count: 6;
  --max-emoji-col-count: 11;
  --min-emoji-row-count: 4;
  --max-emoji-row-count: 10;

  --fill-color: #fff;
  --text-color: #111;
  --transition: 150ms cubic-bezier(0, 0, 0.2, 0.1);
  --emoji-font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;

  --tabs-border-color: #e4e4e4;
  --tab-fill-color-hover: #e9e9e9;
  --tab-active-marker-border-color: #aaa;

  --content-scrollbar-thumb-fill-color: #d7d7d7;
  --content-scrollbar-thumb-fill-color-hover: #aaa;

  --title-bar-fill-color: color-mix(in srgb, var(--fill-color), transparent 20%);
  --search-input-border-color: #e4e4e4;
  --search-input-border-color-hover: #222;

  --emoji-border-color-hover: #d7d7d7;
  --emoji-variation-marker-border-color: #d7d7d7;
  --emoji-variation-marker-border-color-hover: #aaa;

  --variations-backdrop-fill-color: color-mix(in srgb, var(--fill-color), transparent 30%);
  --variations-fill-color: var(--fill-color);

  display: block;
  overflow: hidden;
  background-color: var(--fill-color);
  color: var(--text-color);
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 2px rgba(0, 0, 0, 0.15);

  /* Internal variables only, used to properly size the component */
  --tabs-size: calc(var(--tabs-border-width) + var(--tab-size) + var(--tabs-padding) * 2);
  --horizontal-tabs-height: var(--tabs-size);
  --vertical-tabs-width: 0px;

  /* Width shouldn't be lower than 6 emojis & 4 paddings to properly display floating variation panels */
  min-width: calc(var(--emoji-size) * var(--min-emoji-col-count) + var(--emojis-gap) * (var(--min-emoji-col-count) - 1) + 4 * var(--emojis-padding) + var(--vertical-tabs-width));
  width: calc(var(--emoji-size) * var(--max-emoji-col-count) + var(--emojis-gap) * (var(--max-emoji-col-count) - 1) +  2 * var(--emojis-padding) + var(--vertical-tabs-width));
  max-width: 100vw;

  /* Height can take into account an additional gap so that by default the lowest visible emoji isn't on the edge of the viewport */
  min-height: calc((var(--emoji-size) + var(--emojis-gap)) * var(--min-emoji-row-count) + var(--horizontal-tabs-height) + var(--title-bar-height));
  height: calc((var(--emoji-size) + var(--emojis-gap)) * var(--max-emoji-row-count) + var(--horizontal-tabs-height) + var(--title-bar-height));
  max-height: 100vh;
}
:host([tabs-position="left"]),
:host([tabs-position="right"]) {
  --horizontal-tabs-height: 0px;
  --vertical-tabs-width: var(--tabs-size);
}

/* Default button style */
.button {
  cursor: pointer;
  padding: 0;
  border: 0 none;
  outline: none;
  color: inherit;
  font-size: 1em;
  line-height: 1em;
  font-family: var(--emoji-font-family);
  background-color: transparent;
}
.button::-moz-focus-inner {
  border: 0 none;
}

/* Root element */
.emoji-picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
:host([tabs-position="bottom"]) .emoji-picker {
  flex-direction: column-reverse;
}
:host([tabs-position="left"]) .emoji-picker {
  flex-direction: row;
}
:host([tabs-position="right"]) .emoji-picker {
  flex-direction: row-reverse;
}

/* Tabs bar */
.tabs-wrapper {
  display: flex;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.tabs-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
:host([tabs-position="left"]) .tabs-wrapper,
:host([tabs-position="right"]) .tabs-wrapper {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.tabs {
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  gap: var(--tabs-gap);
  padding: 0 var(--tabs-padding);
}
:host([tabs-position="left"]) .tabs,
:host([tabs-position="right"]) .tabs {
  grid-auto-flow: row;
  padding: var(--tabs-padding) 0;
}

/* Tab button */
.tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--tabs-padding) 0;
}
:host([tabs-position="left"]) .tab,
:host([tabs-position="right"]) .tab {
  padding: 0 var(--tabs-padding);
}
.tab.active:after {
  content: "";
  display: block;
  position: absolute;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  height: 4px;
  background-color: var(--tab-active-marker-border-color);
}
:host([tabs-position="left"]) .tab.active:after,
:host([tabs-position="right"]) .tab.active:after {
  top: -0.1em;
  bottom: -0.1em;
  height: auto;
  width: 4px;
}
:host([tabs-position="left"]) .tab.active:after {
  left: auto;
  right: 0;
}
:host([tabs-position="right"]) .tab.active:after {
  left: 0;
  right: auto;
}
.tab .button {
  display: block;
  overflow: hidden;
  height: var(--tab-size);
  width: var(--tab-size);
  border-radius: 8px;
  text-align: center;
  transition: background-color var(--transition);
}
.tab .button:hover,
.tab .button:focus-visible {
  background-color: var(--tab-fill-color-hover);
}

/* Viewport */
.content {
  --scrollbar-width: 14px;
  --scrollbar-thumb-fill-color: var(--content-scrollbar-thumb-fill-color);
  --scrollbar-thumb-fill-color-hover: var(--content-scrollbar-thumb-fill-color-hover);
  overflow-x: hidden;
  position: relative;
  flex-grow: 1;
  border-top: var(--tabs-border-width) solid var(--tabs-border-color);
  outline: none;
}
.content::part(content) {
  position: relative;
}
:host([tabs-position="bottom"]) .content,
:host([tabs-position="left"]) .content,
:host([tabs-position="right"]) .content {
  border-top: 0 none;
}
:host([tabs-position="bottom"]) .content {
  border-bottom: var(--tabs-border-width) solid var(--tabs-border-color);
}
:host([tabs-position="left"]) .content {
  border-left: var(--tabs-border-width) solid var(--tabs-border-color);
}
:host([tabs-position="right"]) .content {
  border-right: var(--tabs-border-width) solid var(--tabs-border-color);
}

/* Title/search bar*/
.title-bar {
  position: sticky;
  z-index: 3;
  top: -1px;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--title-bar-height);
  padding: 1px var(--title-bar-padding) 0;
  margin-top: -1px;
  background-color: var(--title-bar-fill-color);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 4px var(--fill-color) inset;
}
.title-bar .title {
  overflow: hidden;
  font-size: 1.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title-bar .search-input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.35em 0.4em 0.55em;
  color: inherit;
  font: inherit;
  font-size: 0.85em;
  line-height: 1.6em;
  text-overflow: ellipsis;
  border: 0 solid var(--search-input-border-color);
  border-bottom-width: 4px;
  background-color: transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: border-color var(--transition);
}
.title-bar .title.hidden,
.title-bar .search-input.hidden {
  display: none;
}
.title-bar .search-input:hover,
.title-bar .search-input:focus {
  border-color: var(--search-input-border-color-hover);
}

/* Emoji grid */
.emojis-wrapper {
  padding: 0 var(--emojis-padding) var(--emojis-padding);
}
.emojis {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--emoji-size), 1fr));
  gap: var(--emojis-gap);
}

/* Emojis */
.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--emoji-size);
  height: var(--emoji-size);
  text-rendering: optimizeSpeed;
  contain: strict;
  contain-intrinsic-size: var(--emoji-size) var(--emoji-size);
}
.emoji > .button {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-radius: 8px;
  text-align: center;
}
.emoji > .button:hover,
.emoji > .button:focus-visible {
  border-color: var(--emoji-border-color-hover);
}
.emoji.hidden {
  display: none;
}
.emoji.active {
  z-index: 2;
  contain: size layout style;
}
.emoji.with-variations {
  position: relative;
}
.emoji.with-variations > .button {
  border-bottom-right-radius: 0;
}

/* Emoji variations marker */
.emoji.with-variations > .button:after {
  box-sizing: border-box;
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border: 4px solid var(--emoji-variation-marker-border-color);
  border-top: 0 none;
  border-left: 0 none;
}
.emoji.with-variations > .button:hover:after,
.emoji.with-variations > .button:focus-visible:after {
  border-color: var(--emoji-variation-marker-border-color-hover);
}

/* Emoji variations panel */
.backdrop {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--variations-backdrop-fill-color);
  backdrop-filter: blur(1px);
}
.backdrop.hidden {
  display: none;
}
.variations {
  position: absolute;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(var(--emoji-size), 1fr));
  gap: var(--emojis-gap);
  padding: var(--emojis-padding);
   /* We show 6 variations per row as there is 6 skin tones */
  max-width: calc(var(--emoji-size) * 6 + var(--emojis-gap) * 5 + var(--emojis-padding) * 2);
  top: 0;
  left: 0;
  background-color: var(--variations-fill-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}
.emoji.active .variations {
  display: grid;
}
